
<fieldset class="item">
  <%= f.label :term %>
  <%= f.text_field :term %>
  <br/>

    <%= f.label :definition %>
  <%= f.text_field :definition %>

 <br/>
  <a href="#" class="remove" data-confirm="Are you sure?">remove</a>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>
<br />
