<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field centered">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    Deck's <%= f.label :name %>
    <%= f.text_field :name %>
    <br />
    <%= f.label :language %>
    <%= f.text_field :language %>

  </div>
  
  <h2>Cards</h2>
  <div class="items centered">
    <%= f.nested_fields_for :cards do |f|
      render 'card', f: f
    end -%>
  </div>
  <div class = "centered">
  <a href="#" class="add">Add Card</a>
  <p>
  <p> Finished? Press the submit button below! </p>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
