<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<%= render 'header' %>
<div class = "secondheader"><h2 class = "secondheader">Editing <%= @deck.name %> Deck</h2> </div>
<div class = "decorative">Add, remove, and revise cards below. </div>

<%= render 'form' %>

<%= link_to 'Show', deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
