<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class = "centered bam">
    <h2 class=>Your Decks</h2>
    <h3> Total: <%= Deck.all.size %></h3>
    All of your current decks are listed below.
    <br/><br />
</div> 


<div class = "centered bam bam2">
    <h2> Add New Deck:
    <h3><%= link_to 'Standard', new_deck_path %></h3>
    <h3><%= link_to 'Add Deck From Website', rendersite_path %></h3>

</div>
<br />

<div class = "tablesupport">
<table>
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>How Many Cards</th>
    <th>Times Reviewed</th>
    <th></th>
    <th></th>
  </tr>

<% @decks.each do |deck| %>
  <tr>
    <td><%= link_to deck.name, deck %></td>
    <td><%= deck.subject %></td>
    <td><%= deck.cards.length %></td>
    <td><%= deck.times_reviewed %></td>
    <td><%= link_to 'Edit Deck', edit_deck_path(deck) %></td>
    <td><%= link_to 'Destroy', deck, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'Back', '/' %> |
<%= link_to 'New deck', new_deck_path %>
