<html>
<head>
  </head>
  <body>

<% require 'open-uri' %>
<p id="notice"><%= notice %></p>
<p id="deckid"><%= @deck.id %></p>
<% url = "http://www.lemonde.fr/sport/article/2013/08/13/perche-la-tsarine-isinbayeva-triomphe-devant-son-public_3461124_3242.html" %>
<% doc = Nokogiri::HTML(open(url)) %>
<div id = "stickyribbon">
<!-- Display to signed in user -->
<% if user_signed_in? %>
<div class = "lingheader"> <h1>Linguadex</h1></div>
<p class="navbar-text pull-right background2 clear">
  User: <strong><%= current_user.email %></strong>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>
<!-- End display -->

<div class = "headingdiv">
	<div class = "emphasis"><!-- 
		<h3> <%= link_to 'Add Deck', new_deck_path %></h3> -->
  </div>
  <div class = "urldiv">
 Viewing website: <input value="http://www.lemonde.fr"></input>
</div>
  <div id = "results">
   <h2>Selected Terms and Definitions</h2>
    <br />
    <br /> 
    <div id = "wordbank"> 
      Double click on terms in the article below to add them to the wordbank. 
      <br /><br />
    <a href="#" id="submit-cards">Done</a>

      <hr>
      </p>


      <div class="addingcards">
        <div id="addingterms">
         <div class="selectionheaders">Terms</div> 

        </div>
        <div id="addingdefinitions"><div class="selectionheaders">Definitions</div>
        </div>
    </div>

   
    </div>
  </div>
 </div>
</div>
<br />

<div>
<%= raw(doc.to_html) %>


</div>
<p> You can use this feature to enter a url, load the page, and add selected text to the terms.
	If definitions are available, we will provide the definitions and then allow you to submit your deck.
</p>


<h2> The words you've selected are: </h2>
<div id = "results"> 


</div>

Get highlighted words and push them into an array
Look up definitions
Send the results to Rails


 
 <script>


 $(document).ready(function() {

    $(window).scroll(function() {
         var header = $(document).scrollTop();
     
         if (header > 30 ) { // Change this number to the amount you want to scroll before the header sticks
              $('#stickyribbon').addClass('sticky');
         } else {
              $('#stickyribbon').removeClass('sticky');
         }
    });
 });


 termsArray = [];
 definitionsArray = []; 

 //Finding Translation and Appending Term
function getTranslation(term){
	var query = "http://api.wordreference.com/0.8/22816/json/fren/"+ term; 

	var result = $.ajax({
	    url: query,
	    type:'GET',
	    dataType:'JSONP',
	    success: function(data){
	    var translation = data["term0"]["PrincipalTranslations"]["0"]["FirstTranslation"]["term"]
      //Add the term to the terms div
      $('#addingterms').append('<div class="selection"><span class="label">Term:</span> <span class="justadded">' + term + ' </span></div>');
      //Add the definition to definitions div
	    $('#addingdefinitions').append('<div class="selection"><span class="label">Definition:</span> '+ translation + "</div>");
      termsArray.push(term);
      definitionsArray.push(translation);

	    }
	});
};


 selectedTerms = []

if(!window.Kolich){
  Kolich = {};
}

Kolich.Selector = {};
Kolich.Selector.getSelected = function(){
  var t = '';
  if(window.getSelection){
    t = window.getSelection();
  }else if(document.getSelection){
    t = document.getSelection();
  }else if(document.selection){
    t = document.selection.createRange().text;
  }
  return t;
}

Kolich.Selector.mouseup = function(){
  var st = Kolich.Selector.getSelected();
  if(st!=''){
    // var selection = $('#addingterms').append('<div class="selection"><span class="label">Term:</span> <span class="justadded">' + st + ' </span></div>');
    // var newTerm = $('.justadded').first().text(); 
    var newTerm = "" + st + ""; 
    getTranslation(newTerm); 
    $('.justadded').removeClass('justadded');
  }
}

$(document).ready(function(){
  $(document).bind("mouseup", Kolich.Selector.mouseup);
});


function addDeck() {
  var data = {
    terms: termsArray,
    definitions: definitionsArray
  }

  $.post('deck/create', data)
}
var d = new Date();

$('#submit-cards').click(function() {
  createDeck();
});

function createDeck() {
  $.post("/decks", { deck: { name: d, language: "French"}}, 
    function(data) {
      console.log("Success! Here's the new Deck ID: " + data);
      createCards(data);
      window.location.href = "/decks/" + data;
    }, "json"); 
}

function createCards(deckId) {

  // termsArray, definitionsArray
  // for each term in termsArray, we want to:
  //  Create a new card
  //  With the term and definition from the appropriate index of those arrays

  for (i=0; i < termsArray.length; i++){
      $.post("/cards", {card: {deck_id: deckId, term: termsArray[i], definition: definitionsArray[i]}}, 
        function(data) {
          console.log("Yes! We've made cards! Here's the data: " + data);
      }, "json");  
  }

 $(function(){
        var stickyRibbonTop = $('#stickyribbon').offset().top;
          
        $(window).scroll(function(){
                if( $(window).scrollTop() > stickyRibbonTop ) {
                        $('#stickyribbon').css({position: 'fixed', top: '0px'});
                } else {
                        $('#stickyribbon').css({position: 'static', top: '0px'});
                }
        });
}); 


}


 </script>
</body>
</html>