<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<%= render 'header' %>
<div class = "secondheader"><h2 class = "secondheader"><%= @deck.name %></h2> </div>
<div class = "decorative">Terms and Definitions</div>

<p id="notice"><%= notice %></p>
<div class = "options">
<p> Take Recall Quiz</p>
</div>


 <div class = "centered">
<% if @deck.cards.any? %>
  <ul>
    <% for card in @deck.cards %>
      <li><%= card.term %> (<%= card.definition %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>This deck has no cards yet. Make some! </p>
<% end %>
</div>



<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
