<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- <p id="notice"><%= notice %></p> -->
<h2> <%= @deck.name %>
<div class = "centered"> <h4> Statistics </h4> <p> Quizzes Taken: 0</p> <p> Average Score : N/A </p></div>
<div class = "centered"><div class = "emphasis"><h4> <%= link_to 'Take Recall Quiz', quiz_path %></h4></div></div><br />
</div>


<div class = "tablesupport">
<% if @deck.cards.any? %>	
<table>
  <tr>
    <th>Term</th>
    <th>Definition</th>
    <th></th>
    <th></th>
  </tr>
	<% @deck.cards.each do |card| %>
	  <tr>
	    <td><%= card.term %></td>
	    <td><%= card.definition %></td>
	    <td><%= link_to 'Edit Card', edit_card_path(card) %></td>
	    <td><%= link_to 'Delete Card', card, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</table>
	<br />
<% else %>
	<p>This deck has no cards yet. Make some! </p>
<% end %>
	</div>


<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
